body{
  background-color: #40627d;
  color: #9bff74;
}

a{
  color: #8ee9eb;
}

span{
  color: #00007c;
}



myCPU=`top -l 1 | awk '/CPU usage/ {print $3}' | sed s/%//`
myCPU=`echo "tmp=$myCPU; tmp /= 1; tmp" | bc`

                                                                                               typeset -i b=9
echo "CPU Usage    \c"
while [ $b -lt $myCPU ]
do
echo "\033[1;36m*\033[0m\c"
b=`expr $b + 10`
done
echo "\033[1;39m*\033[0m\c"
while [ $b -lt 99 ]
do
echo "\033[1;37m*\033[0m\c"

b=`expr $b + 10`
done
echo "	$myCPU%\c"

echo "\r"
unset myCPU
unset b


myUsedMem=`top -l 1 | awk '/PhysMem/ {print $8}' | sed s/M// `
myFreeMem=`top -l 1 | awk '/PhysMem/ {print $10}' | sed s/M// `
myActiveMem=`top -l 1 | awk '/PhysMem/ {print $4}' | sed s/M// `
myTotalMem=` expr $myUsedMem + $myFreeMem`
myUsedPer=`echo |awk '{print f / t * 100}' f=$myActiveMem t=$myTotalMem`
myUsedPer=`echo "tmp=$myUsedPer; tmp /= 1; tmp" | bc`

                                                typeset -i c=9

myDisk=`df | awk '/dev\/disk0s2/ && NF>1 {print $5}' | sed 's/\%//'`
myDisk =`expr 100 - $myDisk `

typeset -i a=9
echo "Disk Usage   \c"
while [ $a -lt $myDisk ]
do
echo "\033[1;36m*\033[0m\c"
a=`expr $a + 10`
done
echo "\033[1;39m*\033[0m\c"
while [ $a -lt 99 ]
do
echo "\033[1;37m*\033[0m\c"
a=`expr $a + 10`
done
echo "	$myDisk%\c"

echo "\r"
unset myDisk
unset a